/* importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');


/* resetando o style */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* configurando pagina */
body {
    font-size: 100%;
    background: #FFFFFF;
}

/* alinhando os blocos do cabeçalho */
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

/* welovedogs */
.cabecalho-home {
    /* segunda fonte? */
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 48px;
}

/* menu */
.cabecalho-menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

/* items do menu */
.cabecalho-menu-item {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}

/* botão inscrever - menu*/
.cabecalho-menu-botao {
    background-color: rgba(126, 211, 33, 0.4);
    width: 151px;
    height: 40px;
    border: none;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #1C4701;
    font-weight: 700;
    font-size: 16px;
}

/* fzer botão escurecer quando o mouse passar por ele */
.cabecalho-menu-botao:hover {
    background-color: #7ED321;
}

.bloco-contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items:center;
    /* NAO TA FUNCIONANDO */
}

.linha{
    display: flex;
    flex-direction: row;
    align-items:first baseline;
}

.formulario-label{
    width: 124px;
    height: 50px;
    font-family: 'Open Sans';
    font-size: 18px;
    text-align: center;
    color: #000000;
}

/* campo onde coloca as informações na aba INSCRIÇÃO */
.campo{
    width: 419px;
    height: 43px;
    color: #9F9F9F;
    border: 1px solid #9F9F9F;
    border-radius: 7px;
    font-family: 'Open Sans';
    font-size: 14px;
    padding: 15;
}

input{
    padding: 10px;
}


/* campo "Ama Cachorros?" */
.campo-mensagem{
    color: #9F9F9F;
    width: 418px;
    height: 160px;
    border: 1px solid #9F9F9F;
    border-radius: 7px;
    font-family: 'Open Sans';
    font-size: 14px;
}
input .campo-mensagem{
    padding: 10px;
}
textarea {
    resize:none;
    padding-left: 10px;
}


/* último botão */
.linha-botao{
    width: 604px;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.formulario-botao{
    width: 141px;
    height: 42px;
    background-color: #7ED321;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-size: 14px;
}