@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main{
  background-color: #61876E;
  color: #EAE7B1;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

/* Classes do Hero */
.hero{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.titulo{
  font-size: 1.5rem;
}

.subtitulo{
  color: #b8ce9c;
}


/* Classes do sobre Nós */
.sobreNos{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 9rem;
}


.titulo-sobreNos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
}

.blocoDescricao{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: center;
  text-align: justify;
  max-width: 75rem;
  gap: 11rem;
}

.descricao{
  color: #EAE7B1;
  border-left: 0.2rem solid #EAE7B1;
  padding-left: 0.6rem;
}

/* ------------------ */
/* Responsividade */
@media (max-width: 800px) {
  .sobreNos{
    gap: 5rem;
  }

  .blocoDescricao{
    flex-direction:column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .descricao{
    max-width: 50%;
  }


}

